# Grand Circus Capstrone Project 002 - Andrew & Joe's Data Analysis
IMDB MOVIES/SHOWS REPORT

Files availabke:
- name.basics.tsv
- title.akas.tsv
- title.basics.tsv
- title.crew.tsv
- title.episode.tsv
- title.principals.tsv
- title.ratings.tsv

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### Set up the files names allowing a different path between Joe & Andrew
#### Andrew - fix your file names so that they're not all named data.tsv within a folder name title.basics.tsv  The file should be named xxx.xxx.tsv instead of a folder named that way

In [2]:
#   Set the location of the files.
file_location = r"C:\Users\j\Downloads\Day039Data"

# Now add the names of the files to the location...
file1 = file_location + "\\name.basics.tsv"
file2 = file_location + "\\title.akas.tsv"
file3 = file_location + "\\title.basics.tsv"
file4 = file_location + "\\title.crew.tsv"
file5 = file_location + "\\title.episode.tsv"
file6 = file_location + "\\title.principals.tsv"
file7 = file_location + "\\title.ratings.tsv"
print(file1)
print(file2)
print(file3)
print(file4)
print(file5)
print(file6)
print(file7)

C:\Users\j\Downloads\Day039Data\name.basics.tsv
C:\Users\j\Downloads\Day039Data\title.akas.tsv
C:\Users\j\Downloads\Day039Data\title.basics.tsv
C:\Users\j\Downloads\Day039Data\title.crew.tsv
C:\Users\j\Downloads\Day039Data\title.episode.tsv
C:\Users\j\Downloads\Day039Data\title.principals.tsv
C:\Users\j\Downloads\Day039Data\title.ratings.tsv

### Load name.basics.tsv

In [3]:
df1 =  pd.read_csv(file1, sep='\t')
print(df1.head(20))
df1.shape

       nconst          primaryName birthYear deathYear  \
0   nm0000001         Fred Astaire      1899      1987
1   nm0000002        Lauren Bacall      1924      2014
2   nm0000003      Brigitte Bardot      1934        \N
3   nm0000004         John Belushi      1949      1982
4   nm0000005       Ingmar Bergman      1918      2007
5   nm0000006       Ingrid Bergman      1915      1982
6   nm0000007      Humphrey Bogart      1899      1957
7   nm0000008        Marlon Brando      1924      2004
8   nm0000009       Richard Burton      1925      1984
9   nm0000010         James Cagney      1899      1986
10  nm0000011          Gary Cooper      1901      1961
11  nm0000012          Bette Davis      1908      1989
12  nm0000013            Doris Day      1922      2019
13  nm0000014  Olivia de Havilland      1916      2020
14  nm0000015           James Dean      1931      1955
15  nm0000016      Georges Delerue      1925      1992
16  nm0000017     Marlene Dietrich      1901      1992
17  nm0000018         Kirk Douglas      1916      2020
18  nm0000019     Federico Fellini      1920      1993
19  nm0000020          Henry Fonda      1905      1982

                        primaryProfession  \
0          soundtrack,actor,miscellaneous
1                      actress,soundtrack
2     actress,soundtrack,music_department
3                 actor,soundtrack,writer
4                   writer,director,actor
5             actress,soundtrack,producer
6               actor,soundtrack,producer
7               actor,soundtrack,director
8               actor,soundtrack,producer
9               actor,soundtrack,director
10                actor,soundtrack,stunts
11  actress,soundtrack,make_up_department
12            soundtrack,actress,producer
13                     actress,soundtrack
14                    actor,miscellaneous
15   composer,soundtrack,music_department
16    soundtrack,actress,music_department
17              actor,producer,soundtrack
18                  writer,director,actor
19              actor,producer,soundtrack

                             knownForTitles
0   tt0053137,tt0072308,tt0050419,tt0045537
1   tt0075213,tt0038355,tt0037382,tt0117057
2   tt0054452,tt0057345,tt0049189,tt0056404
3   tt0080455,tt0072562,tt0077975,tt0078723
4   tt0050986,tt0050976,tt0060827,tt0069467
5   tt0038109,tt0034583,tt0036855,tt0038787
6   tt0034583,tt0043265,tt0042593,tt0037382
7   tt0068646,tt0078788,tt0047296,tt0070849
8   tt0059749,tt0061184,tt0087803,tt0057877
9   tt0035575,tt0031867,tt0042041,tt0029870
10  tt0044706,tt0035896,tt0034167,tt0027996
11  tt0031210,tt0035140,tt0042192,tt0056687
12  tt0053172,tt0048317,tt0045591,tt0049470
13  tt0041452,tt0040806,tt0029843,tt0031381
14  tt0048028,tt0120956,tt0049261,tt0048545
15  tt0091763,tt8847712,tt0069946,tt0096320
16  tt0055031,tt0052311,tt0051201,tt0021156
17  tt0049456,tt0054331,tt0050825,tt0043338
18  tt0071129,tt0056801,tt0050783,tt0047528
19  tt0082846,tt0032551,tt0051207,tt0050083

(12548289, 6)

### Load title.akas.tsv
- This file is throwing a warning.  See if we can find a graceful way to handle this error...

DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.

This is from the column "isOriginalTitle"

- There is a good article/explanation [here](https://stackoverflow.com/questions/24251219/pandas-read-csv-low-memory-and-dtype-options).

In [4]:
df2 =  pd.read_csv(file2, sep='\t')
print(df2.head(20))
df2.shape

C:\Users\j\AppData\Local\Temp\ipykernel_3380\664282157.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 =  pd.read_csv(file2, sep='\t')

      titleId  ordering                      title region language  \
0   tt0000001         1                 Карменсіта     UA       \N
1   tt0000001         2                 Carmencita     DE       \N
2   tt0000001         3  Carmencita - spanyol tánc     HU       \N
3   tt0000001         4                 Καρμενσίτα     GR       \N
4   tt0000001         5                 Карменсита     RU       \N
5   tt0000001         6                 Carmencita     US       \N
6   tt0000001         7                 Carmencita     \N       \N
7   tt0000001         8                    カルメンチータ     JP       ja
8   tt0000002         1     Le clown et ses chiens     \N       \N
9   tt0000002         2     Le clown et ses chiens     FR       \N
10  tt0000002         3          A bohóc és kutyái     HU       \N
11  tt0000002         4  Der Clown und seine Hunde     DE       \N
12  tt0000002         5      Clovnul si cainii sai     RO       \N
13  tt0000002         6         Клоун и его собаки     RU       \N
14  tt0000002         7     The Clown and His Dogs     US       \N
15  tt0000002         8                      道化師と犬     JP       ja
16  tt0000003         1           Sarmanul Pierrot     RO       \N
17  tt0000003         2            Szegény Pierrot     HU       \N
18  tt0000003         3                     哀れなピエロ     JP       ja
19  tt0000003         4               Бідний П'єро     UA       \N

          types             attributes isOriginalTitle
0   imdbDisplay                     \N               0
1            \N          literal title               0
2   imdbDisplay                     \N               0
3   imdbDisplay                     \N               0
4   imdbDisplay                     \N               0
5   imdbDisplay                     \N               0
6      original                     \N               1
7   imdbDisplay                     \N               0
8      original                     \N               1
9   imdbDisplay                     \N               0
10  imdbDisplay                     \N               0
11           \N          literal title               0
12  imdbDisplay                     \N               0
13  imdbDisplay                     \N               0
14           \N  literal English title               0
15  imdbDisplay                     \N               0
16  imdbDisplay                     \N               0
17  imdbDisplay                     \N               0
18  imdbDisplay                     \N               0
19  imdbDisplay                     \N               0

(35994986, 8)

### Load title.basics.tsv"
- This file is throwing a warning.  Find a graceful way to handle this error...

DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.

This is from the column "isAdult"

In [5]:
df3 =  pd.read_csv(file3, sep='\t')
print(df3.head(20))
df3.shape

C:\Users\j\AppData\Local\Temp\ipykernel_3380\589610759.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 =  pd.read_csv(file3, sep='\t')

       tconst titleType                                 primaryTitle  \
0   tt0000001     short                                   Carmencita
1   tt0000002     short                       Le clown et ses chiens
2   tt0000003     short                               Pauvre Pierrot
3   tt0000004     short                                  Un bon bock
4   tt0000005     short                             Blacksmith Scene
5   tt0000006     short                            Chinese Opium Den
6   tt0000007     short  Corbett and Courtney Before the Kinetograph
7   tt0000008     short       Edison Kinetoscopic Record of a Sneeze
8   tt0000009     movie                                   Miss Jerry
9   tt0000010     short                          Leaving the Factory
10  tt0000011     short                      Akrobatisches Potpourri
11  tt0000012     short                       The Arrival of a Train
12  tt0000013     short  The Photographical Congress Arrives in Lyon
13  tt0000014     short                          The Waterer Watered
14  tt0000015     short                          Autour d'une cabine
15  tt0000016     short                        Boat Leaving the Port
16  tt0000017     short                     Italienischer Bauerntanz
17  tt0000018     short                         Das boxende Känguruh
18  tt0000019     short                             The Clown Barber
19  tt0000020     short                               The Derby 1895

                                        originalTitle isAdult startYear  \
0                                          Carmencita       0      1894
1                              Le clown et ses chiens       0      1892
2                                      Pauvre Pierrot       0      1892
3                                         Un bon bock       0      1892
4                                    Blacksmith Scene       0      1893
5                                   Chinese Opium Den       0      1894
6         Corbett and Courtney Before the Kinetograph       0      1894
7              Edison Kinetoscopic Record of a Sneeze       0      1894
8                                          Miss Jerry       0      1894
9                 La sortie de l'usine Lumière à Lyon       0      1895
10                            Akrobatisches Potpourri       0      1895
11                   L'arrivée d'un train à La Ciotat       0      1896
12  Le débarquement du congrès de photographie à Lyon       0      1895
13                                  L'arroseur arrosé       0      1895
14                                Autour d'une cabine       0      1894
15                             Barque sortant du port       0      1895
16                           Italienischer Bauerntanz       0      1895
17                               Das boxende Känguruh       0      1895
18                                   The Clown Barber       0      1898
19                                     The Derby 1895       0      1895

   endYear runtimeMinutes                    genres
0       \N              1         Documentary,Short
1       \N              5           Animation,Short
2       \N              4  Animation,Comedy,Romance
3       \N             12           Animation,Short
4       \N              1              Comedy,Short
5       \N              1                     Short
6       \N              1               Short,Sport
7       \N              1         Documentary,Short
8       \N             45                   Romance
9       \N              1         Documentary,Short
10      \N              1         Documentary,Short
11      \N              1         Documentary,Short
12      \N              1         Documentary,Short
13      \N              1              Comedy,Short
14      \N              2           Animation,Short
15      \N              1         Documentary,Short
16      \N              1         Documentary,Short
17      \N              1                     Short
18      \N             \N              Comedy,Short
19      \N              1   Documentary,Short,Sport

(9875263, 9)

### Load title.crew

In [6]:
df4 =  pd.read_csv(file4, sep='\t')
print(df4.head(20))
df4.shape

       tconst            directors    writers
0   tt0000001            nm0005690         \N
1   tt0000002            nm0721526         \N
2   tt0000003            nm0721526         \N
3   tt0000004            nm0721526         \N
4   tt0000005            nm0005690         \N
5   tt0000006            nm0005690         \N
6   tt0000007  nm0374658,nm0005690         \N
7   tt0000008            nm0005690         \N
8   tt0000009            nm0085156  nm0085156
9   tt0000010            nm0525910         \N
10  tt0000011            nm0804434         \N
11  tt0000012  nm0525908,nm0525910         \N
12  tt0000013            nm0525910         \N
13  tt0000014            nm0525910         \N
14  tt0000015            nm0721526         \N
15  tt0000016            nm0525910         \N
16  tt0000017  nm1587194,nm0804434         \N
17  tt0000018            nm0804434         \N
18  tt0000019            nm0932055         \N
19  tt0000020            nm0010291         \N

(9875263, 3)

### Load \title.episode.tsv

In [7]:
df5 =  pd.read_csv(file5, sep='\t')
print(df5.head(20))
df5.shape

       tconst parentTconst seasonNumber episodeNumber
0   tt0041951    tt0041038            1             9
1   tt0042816    tt0989125            1            17
2   tt0042889    tt0989125           \N            \N
3   tt0043426    tt0040051            3            42
4   tt0043631    tt0989125            2            16
5   tt0043693    tt0989125            2             8
6   tt0043710    tt0989125            3             3
7   tt0044093    tt0959862            1             6
8   tt0044668    tt0044243            2            16
9   tt0044901    tt0989125            3            46
10  tt0045519    tt0989125            4            11
11  tt0045960    tt0044284            2             3
12  tt0046135    tt0989125            4             5
13  tt0046150    tt0341798           \N            \N
14  tt0046855    tt0046643            1             4
15  tt0046864    tt0989125            5            20
16  tt0047810    tt0914702            3            36
17  tt0047852    tt0047745            1            15
18  tt0047858    tt0046637            2             9
19  tt0047961    tt0989125            6             5

(7501412, 4)

### Load title.principals.tsv

In [8]:
df6 =  pd.read_csv(file6, sep='\t')
print(df6.head(20))
df6.shape

       tconst  ordering     nconst         category                      job  \
0   tt0000001         1  nm1588970             self                       \N
1   tt0000001         2  nm0005690         director                       \N
2   tt0000001         3  nm0374658  cinematographer  director of photography
3   tt0000002         1  nm0721526         director                       \N
4   tt0000002         2  nm1335271         composer                       \N
5   tt0000003         1  nm0721526         director                       \N
6   tt0000003         2  nm1770680         producer                 producer
7   tt0000003         3  nm1335271         composer                       \N
8   tt0000003         4  nm5442200           editor                       \N
9   tt0000004         1  nm0721526         director                       \N
10  tt0000004         2  nm1335271         composer                       \N
11  tt0000005         1  nm0443482            actor                       \N
12  tt0000005         2  nm0653042            actor                       \N
13  tt0000005         3  nm0005690         director                       \N
14  tt0000005         4  nm0249379         producer                 producer
15  tt0000006         1  nm0005690         director                       \N
16  tt0000007         1  nm0179163            actor                       \N
17  tt0000007         2  nm0183947            actor                       \N
18  tt0000007         3  nm0005690         director                       \N
19  tt0000007         4  nm0374658         director                       \N

        characters
0         ["Self"]
1               \N
2               \N
3               \N
4               \N
5               \N
6               \N
7               \N
8               \N
9               \N
10              \N
11  ["Blacksmith"]
12   ["Assistant"]
13              \N
14              \N
15              \N
16              \N
17              \N
18              \N
19              \N

(56267423, 6)

### Load title.ratings.tsv

In [9]:
df7 =  pd.read_csv(file7, sep='\t')
print(df7.head(20))
df7.shape

       tconst  averageRating  numVotes
0   tt0000001            5.7      1977
1   tt0000002            5.8       264
2   tt0000003            6.5      1824
3   tt0000004            5.6       178
4   tt0000005            6.2      2617
5   tt0000006            5.1       182
6   tt0000007            5.4       820
7   tt0000008            5.4      2114
8   tt0000009            5.3       205
9   tt0000010            6.9      7167
10  tt0000011            5.3       367
11  tt0000012            7.4     12267
12  tt0000013            5.7      1885
13  tt0000014            7.1      5515
14  tt0000015            6.1      1088
15  tt0000016            5.9      1503
16  tt0000017            4.6       327
17  tt0000018            5.3       595
18  tt0000019            4.8        32
19  tt0000020            4.8       360

(1314586, 3)

#   Clean up the data...
- Complete the research under "Analysis ideas" below to identify the tables we will need.  
- In the cells above, we can comment out the files not needed.  I'd like to keep the cells to show that we explored them.
- Find any invalid data types
- Joins will resolve themselves.
- Maybe add dfx.info() for4 each of the above files.

# Analysis ideas...
1. Compare Genre vs Rating - identify the most popular genre
   - title.basics.tsv - to get the title/genre
   - title.ratings.tsv to get the rating
   - join on tconst
1. Compare actor with the rating for their movies
   - Average the rating for all of their movies, also include a count of their movies.
   - name.basics.tsv - to get the list of actors
   - parse out "knownForTitles" to get a list of movies the actor was in.
   - title.basics.tsv - to get the title/genre
   - title.ratings.tsv to get the rating
   - join on tconst
1. Average rating by decade of the movie.
   - Round the startYear to -1 to get the decade.
1. Runtime compared to date - are newer movies getting longer?
   - This would be a great place to use a scatterplot with a linear regressoin.
1. Compare remankes.
   - How do the ratings compare.
   - How far apart is the remake from the original
   - How does this timeframe affect the rating?

# Which tables do we need?  Add them to the above research